.navbar {
    background-color: #272626;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
  }
  
  .navbar .menu {
    position: absolute;
    left: 240px;
    top: 100px;
    display: inline-block;
  }
  
  .navbar .menu li {
    font-family: Arial, sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-right: 60px;
    list-style: none;
    margin-left: 20px;
  }
  
  .navbar .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
  }.navbar .menu li a:hover{
    color: #fc5c65;
  
  }
  .searchBar{
    position: absolute;
    left: 19em;
    top: 30px;
  
  }.searchBar .searchterm{
    color: #272626;
    width: 550px;
    height: 35px;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #f2f5f6;
  }.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #070707;
    background: #fafbfbd6;
    text-align: center;
    color: #fd7430;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }.upper_right{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 50em;
    display: inline-block;
  }#one{
   
    margin-left: 0px;
  }#two{
    margin-right: 0px;
  }.letters p1{
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-left: 45px;
  }.icon{
    height: 20px;
    margin-top: 10px;
    width: 350px;
    display: flex;
    justify-content: space-evenly
  }
  /*End of Navbar*/

/*Context*/
.content{
    background: url(pexels-eva-bronzini-6074000.jpg) no-repeat;
    background-size: cover;
    height: 700px;
}.title{
    display: flex;
    line-height: 1px;
    align-items: flex-start;
    flex-direction: column;
}#title{
    margin-top: 400px;
    margin-left: 200px;
    color: #f1f1f1;
    font-size: 35px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}#title2{
    color:#d52424;
    margin-left: 200px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.wrapper{
    background-color: #b0b0b07e;
    height: 400px;
    display: flex;
    justify-content: center;
}
.content1{
    background-color: #d2d2d2;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}#c1title1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d52424;
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
    margin-top: 100px;
}
.descriptions{
    position: absolute;
    top: 900px;
    left: 250px;
    color: #313131;
    width: 1000px;
    display: flex;
}.description1,.description2{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 450px;
}.wrapper2{
    background-color: #cccccc7e;
    height: 700px;
    display: flex;
    justify-content: center;
}.content2{
    background-color: rgba(199, 82, 82, 0.627);
    width: 80%;
    height: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 1.5;

}#c2title1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 100px;
    margin-top: 1000px;
    width: 100%;
    margin-top: 100px;
    
}.teams,.teamsabout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 17px;
}#image{
    border-radius: 100px;
    margin-left: 90px;
    margin-right: 90px;
}.teamsabout > p{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}.wrapper3{
    background-color: #d7d7d77e;
    height: 500px;
    display: flex;
    justify-content: center;
}
.content3{
    background-color:#d2d2d2;
    width: 80%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}.maptext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






#footer{
    background-color: #000000;
   height: 400px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  
  }
   
  #logo{
    width: 200px;
    display: flex;
    justify-content: left;
    align-self: start;
    margin-left: 20px;
  }
   
  .social-media{
    margin: 20px 0;
    margin-left: 20px;
  }
   
  .social-media a{
    color: #ffffff;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
   
  .social-media a:hover{
    color: #fc5c65;
  }
   
  .right-col h1{
    font-size: 26px;
  }
   
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
   
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
   
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #ffffff;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
   
  #button{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
   
  #button:hover{
    opacity: .7;
  }.shop > a{
    text-decoration: none ;
    color: #ababab;
  }.shop > a:hover{
    text-decoration: underline;
  }































  /*Searchbar*/
.search-results {
  display: none; /* Hide the search results by default */
  position: absolute;
  top: 70px;
  left: 305px;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  width: 532px;
  border-radius: 5px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 10px;
  color: rgb(45, 45, 45);
}.searchable-item{
  color: #272626;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
  text-decoration: none;
}.searchable-item a{
  text-decoration: none;
  color: #5e5e5e;
}.searchable-item a:hover{
  color: #000000;
}





#footer{
  background-color: #000000;
 height: 400px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}
 
#logo{
  width: 200px;
  display: flex;
  justify-content: left;
  align-self: start;
  margin-left: 20px;
}
 
.social-media{
  margin: 20px 0;
  margin-left: 20px;
}
 
.social-media a{
  color: #ffffff;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #fc5c65;
}
 
.right-col h1{
  font-size: 26px;
}
 
.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
}
 
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #ffffff;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
 
#button{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
 
#button:hover{
  opacity: .7;
}